<form name="userForm" class="form-inline" novalidate>
<div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right">
                 <a href="" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <h2>{{UserAcount.barangay.barangay_name}} Barangay Clearance Form</h2>
        </div>
        <div class="well panel-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="control-group" ng-class="{error: clearance.purpose.$invalid && !clearance.purpose.$pristine}">
                            <label class="control-label" for="purpose">Purpose</label>
                            <div class="controls">
                                <select id="language" ng-model="clearance.purpose" name="language" class="form-control" ng-options="opt.name as opt.name for opt in purpose">
                                    <option value=''>Select Purpose</option>
                                </select>
                            </div>

                        </div><br />

                         <div class="control-group" ng-class="{error: clearance.remark.$invalid && !clearance.remark.$pristine}">
                            <label class="control-label" for="remark">Remark</label>
                            <div class="controls">
                                <input id="remark" name="remark" ng-model="clearance.remark" type="text"  class="form-control" required="" capitalize-first/>
                                <!-- <p ng-show="userForm.remark.$invalid && !userForm.clearance.$pristine" class="help-block" style="color: red; "> * Must enter Lastname</p> -->
                            </div>
                         </div> <br />

                    </div>

                    <div class="col-lg-4">
                        <div class="control-group" ng-class="{error: clearance.jud_issuedON.$invalid && !clearance.jud_issuedON.$pristine}">
                            <label class="control-label" for="jud_issuedON">Issued on</label>
                            <div class="controls">
                                <input type="text" class="form-control" datepicker-popup="MMMM-dd-yyyy" ng-model ="clearance.jud_issuedON" is-open = "clearance.jud_issuedON.open" ng-click = "clearance.jud_issuedON.open = true" min-date="minDate" max-date="'maxDate'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                            </div>
                        </div><br />

                       <label class="control-label" for="clearance_price">Given Price</label>
                        <div class="form-group input-group" ng-class="{error: clearance.clearance_price.$invalid && !clearance.clearance_price.$pristine}">
                                            <span class="input-group-addon">Php</span>
                                            <input type="number" ng-model="clearance.clearance_price" class="form-control">
                                            <span class="input-group-addon">.00</span>
                        </div>

                    </div>

                    <div class="col-lg-4">

                        <div class="control-group" ng-class="{error: clearance.OR.$invalid && !clearance.OR.$pristine}">
                                <label class="control-label" for="OR">OR Number</label>
                            <div class="controls">
                                  <input id="OR" class="form-control" name="OR" ng-model="clearance.OR" type="number" required="" />
                            </div>
                            <p ng-show="userForm.OR.$invalid && !userForm.OR.$pristine" class="help-block" style="color: red;"> * This should be Number !</p>
                        </div><br />

                        </div>
                    </div>
                <div ng-show="error" class="alert alert-danger col-md-6">{{error}}</div>
                </div>
            <div class="panel-footer">
                <a href="" ng-click="cancel()" class="btn btn-warning">Cancel</a>
                <button ng-show="!clearance._id" ng-click="save()"
                        class="btn btn-primary"> Save </button>
                <button ng-click="update_clearance(clearance._id, clearance.resident._id)" ng-show="clearance._id"
                        class="btn btn-primary"> Update </button>
                <!-- <button ng-click="destroy()"
                        ng-show="clearance._id" class="btn btn-danger">Delete</button> -->
            </div>

    </div>
</form>