<form name="userForm" class="form-inline" novalidate>
<div class="panel panel-default">
        <div class="panel-heading">
           <div class="pull-right">
                     <a href="" ng-click="ok()"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            <h2>{{UserAcount.barangay.barangay_name}} Barangay Judicial</h2>
        </div>
        <div class="panel-body">

        <div class="well">
         <div class="row">
                <hr>
                <label class="control-lab el" for="case_type">Schedule</label>
                <hr>
                <div class="col-md-4">
                    <div class="control-group" ng-class="{error: brgyjudicial.case_type.$invalid && !brgyjudicial.case_type.$pristine}">
                        <label class="control-label" for="case_type">Case Type</label>
                        <div class="controls">
                            <input id="case_type" name="case_type" ng-model="brgyjudicial.case_type" type="text"  class="form-control" required=""  ng-class="{error: brgyjudicial.case_type.$invalid && !brgyjudicial.case_type.$pristine}"/>
                        </div>
                        <p ng-show="userForm.case_type.$invalid && !userForm.case_type.$pristine" class="help-block" style="color: red;"> * This Field is Required!</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="control-group" ng-class="{error: brgyjudicial.prof_date.$invalid && !brgyjudicial.prof_date.$pristine}">
                        <label for="prof_date">Date</label>
                        <div class="controls">
                         <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model ="brgyjudicial.prof_date" is-open = "brgyjudicial.prof_date.open" ng-click = "brgyjudicial.prof_date.open = true" min-date="minDate" max-date="'maxDate'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="control-group" ng-class="{error: brgyjudicial.duringtime.$invalid && !brgyjudicial.duringtime.$pristine}">
                    <label for="duringtime">Time</label>
                      <div class="controls">
                        <input class="form-control" ng-model="brgyjudicial.duringtime" placeholder="hour:min AM/PM"/>
                        </div>
                    </div>
                </div>
           </div>
         <div class="row">
                <div class="col-md-4">
                    <div class="control-group" ng-class="{error: brgyjudicial.case_no.$invalid && !brgyjudicial.case_no.$pristine}">
                        <label class="control-label" for="case_no">Case No.</label>
                        <div class="controls">
                            <input id="case_no" name="case_no" ng-model="brgyjudicial.case_no" type="number"  class="form-control" required=""  ng-class="{error: brgyjudicial.case_no.$invalid && !brgyjudicial.case_no.$pristine}"/>
                        </div>
                        <p ng-show="userForm.case_no.$invalid && !userForm.case_no.$pristine" class="help-block" style="color: red;"> * This Field is Required!</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="control-group" ng-class="{error: brgyjudicial.jud_notes.$invalid && !brgyjudicial.jud_notes.$pristine}">
                    <label for="jud_notes">Note</label>
                      <div class="controls">
                        <textarea class="form-control" ng-model="brgyjudicial.jud_notes"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="control-group" ng-class="{error: brgyjudicial.OR_No.$invalid && !brgyjudicial.OR_No.$pristine}">
                        <label for="prof_date">OR No.</label>
                        <div class="controls">
                         <input type="number" class="form-control" ng-model="brgyjudicial.OR_No"/>
                        </div>
                    </div>
                </div>
           </div>
            <br>
            <tabset justified="true">
                <tab heading="Complainant"> <br /><br />
                    <div class="row">
                     <div class="control-group">
                            <label class="control-label" for="complainant_resident">Resident in this Barangay?</label>
                            <div class="controls">
                                <label class="radio inline" for="Yes">
                                    <input type="radio" name="complainant_resident" ng-model="brgyjudicial.complainant_resident" id="yes" value="Yes" checked="checked">
                                   Yes
                                </label>
                                <label class="radio inline" for="No">
                                    <input type="radio" name="complainant_resident" ng-model="brgyjudicial.complainant_resident" id="no" value="No"> No
                                </label>
                            </div>
                        </div>

                        <div class="row" ng-if=" brgyjudicial.complainant_resident === 'No' " >
                             <div class="row">
                            <div class="col-md-4">
                                <div class="control-group" ng-class="{error: brgyjudicial.complainant.$invalid && !brgyjudicial.complainant.$pristine}">
                                    <br>
                                    <div class="controls">
                                        <input id="complainant" name="complainant" ng-model="brgyjudicial.complainant.prof_firstname" placeholder="Firstname" type="text" class="form-control" required="" capitalize-first/>
                                    </div>
                                    <p ng-show="userForm.complainant.$invalid && !userForm.complainant.$pristine" class="help-block" style="color: red;"> * Must enter firstname</p>
                                </div>
                            </div>
                           <div class="col-md-4">
                             <br>
                                    <div class="controls">
                                        <input id="complainant" name="complainant" ng-model="brgyjudicial.complainant.prof_middle_name" placeholder="Middlename" type="text" class="form-control" required="" capitalize-first/>
                                    </div>
                                    <p ng-show="userForm.complainant.$invalid && !userForm.complainant.$pristine" class="help-block" style="color: red;"> * Must enter middlename</p>

                            </div>
                            <div class="col-md-4">
                              <br>
                                    <div class="controls">
                                        <input id="complainant" name="complainant" ng-model="brgyjudicial.complainant.prof_lastname" placeholder="Lastname" type="text" class="form-control" required="" capitalize-first/>
                                    </div>
                                    <p ng-show="userForm.complainant.$invalid && !userForm.complainant.$pristine" class="help-block" style="color: red;"> * Must enter lastname</p>

                            </div>
                         </div>
                         <br>
                        <div class="row">
                           <label for="province">Address</label><br>
                            <div class="controls">
                          <textarea name="C_address" ng-model="brgyjudicial.complainant.C_address"  class="form-control"></textarea>
                            </div>
                            <p ng-show="userForm.C_address.$invalid && !userForm.C_address.$pristine" class="help-block" style="color: red;"> * Must enter Address</p>
                        </div>
                        </div>


                        <div ng-if=" brgyjudicial.complainant_resident === 'Yes' " >
                           <label for="province">Chose Complainant Name</label><br>
                            <ui-select ng-model="brgyjudicial.complainant" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 200px;" title="Choose a person">
                            <ui-select-match placeholder="Firstname Middlename Lastname">{{$select.selected.fullname}}</ui-select-match>
                            <ui-select-choices repeat="complainant in children_me | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                              <div ng-bind-html="complainant.fullname | highlight: $select.search"></div>
                              <small>
                                B-Date: <span ng-bind-html="''+complainant.b_date | highlight: $select.search | date"></span>
                              </small>
                            </ui-select-choices>
                          </ui-select>
                        </div>
                    </div><br>
                </tab>
                <tab heading="Respondent"> <br /><br />
                    <div class="row">
                     <div class="control-group">
                            <label class="control-label" for="respondent_resident">Resident in this Barangay?</label>
                            <div class="controls">
                                <label class="radio inline" for="Yes">
                                    <input type="radio" name="respondent_resident" ng-model="brgyjudicial.respondent_resident" id="yes" value="Yes">
                                   Yes
                                </label>
                                <label class="radio inline" for="No">
                                    <input type="radio" name="respondent_resident" ng-model="brgyjudicial.respondent_resident" id="no" value="No"> No
                                </label>
                            </div>
                        </div>

                        <div class="row" ng-if=" brgyjudicial.respondent_resident === 'No' " >
                             <div class="row">
                            <div class="col-md-4">
                                <div class="control-group" ng-class="{error: brgyjudicial.respondent.$invalid && !brgyjudicial.respondent.$pristine}">
                                    <br>
                                    <div class="controls">
                                        <input id="respondent" name="respondent" ng-model="brgyjudicial.respondent.prof_firstname" placeholder="Firstname" type="text" class="form-control" required="" capitalize-first/>
                                    </div>
                                    <p ng-show="userForm.respondent.$invalid && !userForm.respondent.$pristine" class="help-block" style="color: red;"> * Must enter firstname</p>
                                </div>
                            </div>
                           <div class="col-md-4">
                             <br>
                                    <div class="controls">
                                        <input id="respondent" name="respondent" ng-model="brgyjudicial.respondent.prof_middle_name" placeholder="Middlename" type="text" class="form-control" required="" capitalize-first/>
                                    </div>
                                    <p ng-show="userForm.respondent.$invalid && !userForm.respondent.$pristine" class="help-block" style="color: red;"> * Must enter middlename</p>

                            </div>
                            <div class="col-md-4">
                              <br>
                                    <div class="controls">
                                        <input id="respondent" name="respondent" ng-model="brgyjudicial.respondent.prof_lastname" placeholder="Lastname" type="text" class="form-control" required="" capitalize-first/>
                                    </div>
                                    <p ng-show="userForm.respondent.$invalid && !userForm.respondent.$pristine" class="help-block" style="color: red;"> * Must enter lastname</p>

                            </div>
                         </div>
                         <br>
                        <div class="row">
                           <label for="province">Address</label><br>
                            <div class="controls">
                          <textarea name="R_address" ng-model="brgyjudicial.respondent.R_address"  class="form-control"></textarea>
                            </div>
                            <p ng-show="userForm.R_address.$invalid && !userForm.R_address.$pristine" class="help-block" style="color: red;"> * Must enter Address</p>
                        </div>
                        </div>
                        </div>


                        <div ng-if=" brgyjudicial.respondent_resident === 'Yes' " >
                           <label for="province">Chose Complainant Name</label><br>
                            <ui-select ng-model="brgyjudicial.respondent" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 200px;" title="Choose a person">
                            <ui-select-match placeholder="Firstname Middlename Lastname">{{$select.selected.fullname}}</ui-select-match>
                            <ui-select-choices repeat="respondent in children_me | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                              <div ng-bind-html="respondent.fullname | highlight: $select.search"></div>
                              <small>
                                B-Date: <span ng-bind-html="''+complainant.b_date | highlight: $select.search | date"></span>
                              </small>
                            </ui-select-choices>
                          </ui-select>
                        </div>
                    </div><br>
                </tab>
            </tabset>

                <a data-html="true" title="<b>Terms &amp; Conditions</b> <br><br> Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern [business name]'s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website." rel='tooltip' data-toggle="tooltip" data-placement="right">Terms &amp; Conditions</a>
                <br>
                        <label class="checkbox inline" for="tnc">
                            <input name="tnc" class="form-control" id="tnc" type="checkbox" ng-model="brgyjudicial.tnc" required />Accept
                        </label>
                    <div ng-show="error" class="alert alert-danger col-md-6">{{error}}</div>




        </div>
        <div class="panel-footer">
            <a href="" ng-click="ok()" class="btn btn-warning"> <span class="glyphicon glyphicon-arrow-left"></span> Cancel</a>

            <button ng-hide="brgyjudicial._id" ng-click="savejudcial(brgyjudicial.respondent._id)" ng-disabled="!brgyjudicial.tnc || myForm.$invalid"
                            class="btn btn-success"> Save <span class="glyphicon glyphicon-floppy-save"></span> </button>
            <button ng-show="brgyjudicial._id" ng-click="updatejudcial(brgyjudicial._id, brgyjudicial.respondent._id)" ng-disabled="!brgyjudicial.tnc || myForm.$invalid"
                            class="btn btn-success"> Update <span class="glyphicon glyphicon-floppy-save"></span> </button>
            <button ng-click="deletejudicial(brgyjudicial._id)"
                            ng-show="brgyjudicial._id" class="btn btn-danger"> Delete <span class="glyphicon glyphicon-trash"></span> </button>
        </div>

    </div>
</form>
<script language="javascript">
$(document).ready(function(){
    $("[rel='tooltip']").tooltip();

    })
</script>