<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
           <div class="searchbox  pull-right">
                <div class="col-md-12">
                      <input type="text" ng-model="search" class="form-control search-query" placeholder="Search&hellip;" />
                </div>
            </div>
                <a href="" ng-click="judicialModel('lg')" ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-plus-sign" ></span> Add New</a>
            <h2>{{UserAcount.barangay.barangay_name}} Barangay Judicial list</h2>
             <p><span class="label label-success">Total : {{no_judicial}}</span> </p>
        </div>
        <div class="panel-body">
            <br>
               <table ng-table="tableParams" template-pagination="custom/pager"  class="table table-hover responsive">
                      <tr ng-repeat="judicial in $data | filter:search" >
                          <td data-title="'Case Type'">
                              {{ judicial.case_type | truncate}}
                          </td>
                          <td data-title="'Complainant'">
                             {{judicial.complainant.fullname}}
                          </td>
                          <td data-title="'Respondent'">
                           <!-- <p ng-repeat="r in judicial.respondent">{{r}}</p> -->
                              {{judicial.respondent.fullname}}
                          </td>
                          <td data-title="'Date'">
                              {{ judicial.prof_date | date}}
                          </td>
                          <td data-title="'Action'">

                            <div class="pull-right">
                            <!-- /viewjudicial/{{judicial._id}} -->
                              <a  href="" ng-click="judicial_view('lg', judicial._id)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-eye-open"></span> Show</a>

                                <a ng-click="judicial_Edit_Model('lg', judicial._id)" ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" href="" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</a>

                            </div>
                          </td>
                      </tr>
                  </table>

              <script type="text/ng-template" id="custom/pager">
                    <ul class="pager ng-cloak">
                      <li ng-repeat="page in pages"
                            ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                            ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                        <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                        <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                      </li>
                        <li>
                        <div class="btn-group">
                            <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                            <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                            <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                            <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                        </div>
                        </li>
                    </ul>
                </script>

              </div>
          </div>
      </div>
