<div class="jumbotron">
   <div class="container">
      <h1>Welcome to landing page!</h1>
      <p>This is an example for jumbotron.</p>
      <p><a class="btn btn-primary btn-lg" role="button">
         Learn more</a>
      </p>
   </div>
</div>
