<form name="userForm" class="form-inline">
<div class="panel panel-default">
        <div class="panel-heading">
                <div class="pull-right">
                     <a href="" ng-click="ok()"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
                  <h2>{{myaccount}}</h2>

        </div>
        <div class="panel-body">


                    <div class="well">
                        <div class="row">
                            <div class="col-lg-4">

                                <div class="form-group" ng-class="{error: account.username.$invalid && !account.username.$pristine}">
                                    <div class="col-xs-6">
                                        <label for="username">Username</label>
                                            <input id="username" class="form-control" name="username" ng-model="account.username" type="text" required="" />
                                    </div>
                                </div><br /><br />
                                <div ng-if="!account._id">
                                  <div class="form-group" ng-class="{error: account.pswrd.$invalid && !account.pswrd.$pristine}">
                                    <div class="col-xs-6">
                                        <label for="pswrd">Password</label>
                                            <input id="pswrd" class="form-control" name="pswrd" ng-model="account.pswrd" type="password" required="" />
                                    </div>
                                  </div><br /><br />

                                  <div class="form-group" ng-class="{error: account.verifypassword.$invalid && !account.verifypassword.$pristine}">
                                    <div class="col-xs-6">
                                        <label for="verifypassword">Verify Password</label>
                                            <input id="verifypassword" class="form-control" name="verifypassword" ng-model="account.verifypassword" type="password" required="" />
                                    </div>
                                  </div><br /><br />
                                </div>

                                <div ng-if="account._id">
                                <a href="" ng-click="enable_new()" ng-show="caption_pass === 'Change Password'"class="btn btn-default">{{caption_pass}}</a>
                                <a href="" ng-click="enable_hide()" ng-show="caption_pass === 'Click to hide'" class="btn btn-default">{{caption_pass}}</a>
                                <div ng-show="newpass === 'true'">

                                  <div class="form-group" ng-class="{error: account.pswrd.$invalid && !account.pswrd.$pristine}">
                                    <div class="col-xs-6">
                                        <label for="pswrd">Password</label>
                                            <input id="pswrd" class="form-control" name="pswrd" ng-model="account.pswrd" type="password" required="" />
                                    </div>
                                  </div><br /><br />

                                  <div class="form-group" ng-class="{error: account.verifypassword.$invalid && !account.verifypassword.$pristine}">
                                    <div class="col-xs-6">
                                        <label for="verifypassword">Verify Password</label>
                                            <input id="verifypassword" class="form-control" name="verifypassword" ng-model="account.verifypassword" type="password" required="" />
                                    </div>
                                  </div><br /><br />
                                </div>
                              </div>



                           </div>
                          <div class="col-lg-5">

                     <div class="control-group">
                        <label class="control-label" for="res_status">Chose Theme</label>
                        <div class="controls">
                            <div class="row">
                            <div  <div class="col-md-6">
                            <label class="radio inline" for="cyborg">
                                <input type="radio" name="themes" ng-model="account.themes" id="cyborg" value="cyborg">
                                Cyborg
                            </label>
                            </div>

                             <div class="row">
                            <div  <div class="col-md-6">
                            <label class="radio inline" for="simplex">
                                <input type="radio" name="themes" ng-model="account.themes" id="simplex" value="simplex">
                                Simplex
                            </label>
                        </div>
                    </div>
                    </div>
                    </div>
                    </div><br />

                    <div class="control-group">
                        <div class="controls">
                        <div class="row">
                            <div  <div class="col-md-6">
                            <label class="radio inline" for="superhero">
                            <input type="radio" name="themes" ng-model="account.themes" id="superhero" value="superhero">
                                Superhero
                            </label>
                            </div>
                              <div class="col-md-6">
                            <label class="radio inline" for="sandstone">
                                <input type="radio" name="themes" ng-model="account.themes" id="sandstone" value="sandstone">
                                Sandstone
                            </label>
                        </div>
                        </div>
                    </div>
                    </div>  <br />

                    <div class="control-group">
                        <div class="controls">
                         <div class="row">
                            <div  <div class="col-md-6">
                            <label class="radio inline" for="cerulean">
                                <input type="radio" name="themes" ng-model="account.themes" id="cerulean" value="cerulean">
                              Cerulean
                            </label>
                            </div>
                             <div  <div class="col-md-6">
                            <label class="radio inline" for="slate">
                                <input type="radio" name="themes" ng-model="account.themes" id="slate" value="slate">
                                Slate
                            </label>
                        </div>
                    </div>
                    </div>
                    </div><br />

                     <div class="control-group">
                        <div class="controls">
                        <div class="row">
                            <div  <div class="col-md-6">
                            <label class="radio inline" for="paper">
                        <input type="radio" name="themes" ng-model="account.themes" id="paper" value="paper" >
                                Paper
                            </label>
                            </div>
                            <div  <div class="col-md-6">
                             <label class="radio inline" for="united">
                        <input type="radio" name="themes" ng-model="account.themes" id="united" value="united" >
                                United
                            </label>
                        </div>
                    </div>
                    </div>
                    </div> <br />

                    <div class="control-group">
                        <div class="controls">
                        <div class="row">
                            <div  <div class="col-md-6">
                            <label class="radio inline" for="darkly">
                                <input type="radio" name="themes" ng-model="account.themes" id="darkly" value="darkly" >
                                Darkly
                            </label>
                            </div>
                             <div  <div class="col-md-6">
                            <label class="radio inline" for="spacelab">
                                <input type="radio" name="themes" ng-model="account.themes" id="spacelab" value="spacelab" >
                                Spacelab
                            </label>
                        </div>
                    </div>  <br />
                    </div>
                    </div>
                 </div>

                 <div class="row" ng-show="account.themes == 'cyborg'">
                      <div class="well col-md-3">
                        <a href="/">
                          <img src="img/cyborg.png" style="height: 170px; width: 200px; padding-right: 19px;">
                        </a>
                      </div>
                 </div>
                 <div class="row" ng-show="account.themes == 'simplex'">
                      <div class="well col-md-3">
                        <img src="img/simplex.png" style="height: 170px; width: 200px; padding-right: 19px;">
                      </div>
                 </div>
                 <div class="row" ng-show="account.themes == 'superhero'">
                      <div class="well col-md-3">
                        <img src="img/superhero.png" style="height: 170px; width: 200px; padding-right: 19px;">
                      </div>
                 </div>
                 <div class="row" ng-show="account.themes == 'sandstone'">
                      <div class="well col-md-3">
                        <img src="img/sandstone.png" style="height: 170px; width: 200px; padding-right: 19px;">
                      </div>
                 </div>
                 <div class="row" ng-show="account.themes == 'cerulean'">
                      <div class="well col-md-3">
                        <img src="img/cerulean.png" style="height: 170px; width: 200px; padding-right: 19px;">
                      </div>
                 </div>
                 <div class="row" ng-show="account.themes == 'slate'">
                      <div class="well col-md-3">
                        <img src="img/slate.png" style="height: 170px; width: 200px; padding-right: 19px;">
                      </div>
                 </div>
                 <div class="row" ng-show="account.themes == 'paper'">
                      <div class="well col-md-3">
                        <img src="img/paper.png" style="height: 170px; width: 200px; padding-right: 19px;">
                      </div>
                 </div>
                 <div class="row" ng-show="account.themes == 'united'">
                      <div class="well col-md-3">
                        <img src="img/united.png" style="height: 170px; width: 200px; padding-right: 19px;">
                      </div>
                 </div>
                 <div class="row" ng-show="account.themes == 'darkly'">
                      <div class="well col-md-3">
                        <img src="img/darkly.png" style="height: 170px; width: 200px; padding-right: 19px;">
                      </div>
                 </div>
                 <div class="row" ng-show="account.themes == 'spacelab'">
                      <div class="well col-md-3">
                        <img src="img/spacelab.png" style="height: 170px; width: 200px; padding-right: 19px;">
                      </div>
                 </div>
                  <div>
            </div>

        </div>
        <div class="row" ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'">
              <div class="col-lg-4">
                   <h4>Baranggay Officials</h4>
                      <div class="form-group" ng-class="{error: account.captain.$invalid && !account.captain.$pristine}">
                              <div class="col-xs-7">
                                  <label for="captain">Brgy Captain</label>
                                      <input id="captain" Placeholder="Firstname Middlename Lastname" class="form-control" name="captain" ng-model="account.captain" type="text" required="" />
                              </div>
                      </div><br /><br />
                      <div class="form-group" ng-class="{error: account.sk_chairman.$invalid && !account.sk_chairman.$pristine}">
                              <div class="col-xs-7">
                                  <label for="sk_chairman">SK Chairman</label>
                                      <input id="sk_chairman" class="form-control" name="sk_chairman" ng-model="account.sk_chairman" type="text" required="" />
                              </div>
                      </div><br /><br />
                  </div>
                  <div class="col-lg-4">
                  <br /><br />
                      <div class="form-group" ng-class="{error: account.secretary.$invalid && !account.secretary.$pristine}">
                              <div class="col-xs-7">
                                  <label for="secretary">Secretary</label>
                                      <input id="secretary" class="form-control" name="secretary" ng-model="account.secretary" type="text" required="" />
                              </div>
                      </div><br /><br />
                    <div class="form-group" ng-class="{error: account.kagawad.$invalid && !account.kagawad.$pristine}">

                                <label for="secretary">Brgy Kagawad</label>
                                  <tags-input ng-model="account.kagawad" placeholder="Add Barangay kagawad here">
                                  </tags-input>

                      </div><br /><br />
                  </div>
                  <div class="col-lg-4">
                  <br /><br />
                      <div class="form-group" ng-class="{error: account.treasurer.$invalid && !account.treasurer.$pristine}">
                              <div class="col-xs-7">
                                  <label for="treasurer">Treasurer</label>
                                      <input id="treasurer" class="form-control" name="treasurer" ng-model="account.treasurer" type="text" required="" />
                              </div>
                      </div><br /><br />
                  </div>
             </div>
            <div class="row">

                <div class="col-md-6">

                               <image-crop
                                 data-width="200"
                                 data-height="200"
                                 data-shape="square"
                                 data-step="imageCropStep"
                                 data-result="account.mlogo"
                                 ng-show="showImageCropper = true"
                               ></image-crop>
                                <p ng-show="account.mlogo">Change Logo? &rarr; <a href="" ng-click="account.mlogo = null;imageCropStep=1" class="btn btn-info">Reset</a></p>
                </div>
                <div class="col-md-6">
                    <center>
                        <div ng-show="account.mlogo">
                             <img ng-src="{{ account.mlogo }}" alt="The Cropped Image">
                             <p style="color: green;">Actual Logo</p>
                             <input type="hidden" class="form-control" ng-model="account.mlogo" value="account.mlogo" />
                        </div>
                   </center>
                </div>
           </div>
             <div ng-show="error" class="alert alert-danger col-md-7">{{error}}</div>
        </div>


    </div>

     <div class="panel-footer">

        <a href="" class="btn btn-warning" ng-click="ok()"> Cancel </a>
        <button ng-click="update_my_account(account._id, account.accesscontrol)"
                class="btn btn-primary"> update </button>
    </div>
  </div>
  </form>