<form name="userForm" class="form-inline" novalidate>
  <div class="panel panel-default">
        <div class="panel-heading">
                <div class="pull-right">
                     <a href="" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
                <h2> Barangay {{UserAcount.barangay.barangay_name}} Resident Profile </h2>

        </div>
  <div class="panel-body">

                <div class="well">
                    <tabset justified="true">
                        <tab heading="Profile"> <br /><br />
                            <div class="row">

                                <div class="col-lg-4">

                                    <div class="control-group" ng-class="{error: brgyresident.prof_firstname.$invalid && !brgyresident.prof_firstname.$pristine}">
                                        <label class="control-label" for="prof_firstname">First Name</label>
                                        <div class="controls">
                                            <input id="prof_firstname" name="prof_firstname" ng-model="brgyresident.prof_firstname" type="text" class="form-control" required="" capitalize-first/>
                                        </div>
                                        <p ng-show="userForm.prof_firstname.$invalid && !userForm.prof_firstname.$pristine" class="help-block" style="color: red;"> * Must enter Firstname</p>
                                    </div> <br />

                                    <div class="control-group" ng-class="{error: brgyresident.prof_middle_name.$invalid && !brgyresident.prof_middle_name.$pristine}">
                                        <label class="control-label" for="prof_middle_name">Middle Name</label>
                                        <div class="controls">
                                            <input id="prof_middle_name" name="prof_middle_name" ng-model="brgyresident.prof_middle_name" type="text"  class="form-control" required="" capitalize-first/>
                                        </div>
                                        <p ng-show="userForm.prof_middle_name.$invalid && !userForm.prof_middle_name.$pristine" class="help-block" style="color: red;"> * Must Enter Middlename</p>
                                    </div> <br />

                                    <div class="control-group" ng-class="{error: brgyresident.prof_lastname.$invalid && !brgyresident.prof_lastname.$pristine}">
                                        <label class="control-label" for="prof_lastname">Last Name</label>
                                        <div class="controls">
                                            <input id="prof_lastname" name="prof_lastname" ng-model="brgyresident.prof_lastname" type="text"  class="form-control" required="" capitalize-first/>
                                            <p ng-show="userForm.prof_lastname.$invalid && !userForm.prof_lastname.$pristine" class="help-block" style="color: red; "> * Must enter Lastname</p>
                                        </div>
                                    </div> <br />

                                    <div class="control-group" ng-class="{error: brgyresident.prof_occupation.$invalid && !brgyresident.prof_occupation.$pristine}">
                                        <label class="control-label" for="prof_occupation"> Occupation </label>
                                        <div class="controls">
                                            <input id="occupation" name="occupation" ng-model="brgyresident.prof_occupation" type="text"  class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.prof_occupation.$invalid && !userForm.prof_occupation.$pristine" class="help-block" style="color: red;"> * Must Enter Occupation </p>
                                    </div><br />


                                    <div class="control-group" ng-class="{error: brgyresident.prof_position.$invalid && !brgyresident.prof_position.$pristine}">
                                        <label class="control-label" for="position"> Position </label>
                                        <div class="controls">
                                            <input id="position" name="position" ng-model="brgyresident.prof_position" type="text"class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.prof_position.$invalid && !userForm.prof_position.$pristine" class="help-block" style="color: red;"> * Must Enter the Position !</p>
                                    </div> <br />

                                    <div class="control-group">

                                        <label class="control-label" for="prof_gender">Gender</label>

                                        <div class="row">
                                         <div  <div class="col-md-6">
                                            <label class="radio inline" for="prof_male">
                                                <input type="radio" name="prof_gender" ng-model="brgyresident.prof_gender" id="Male" value="Male" checked="checked">
                                                Male
                                            </label>
                                            </div>
                                             <div  <div class="col-md-6">
                                            <label class="radio inline" for="prof_female">
                                                <input type="radio" name="prof_gender" ng-model="brgyresident.prof_gender" id="Female" value="Female">
                                                Female
                                            </label>
                                        </div>

                                    </div> <br />
                                    </div>
                                </div>

                                <div class="col-lg-4">

                                    <div class="well" ng-show="brgyresident.imageuri" style="height: 200px; width: 200px;">
                                           <img id="Hello" src="{{brgyresident.imageuri}}" ng-model="brgyresident.imageuri"
                                           height="160" width="160">
                                    </div>
                                    <div class="well" ng-show="!brgyresident.imageuri" style="height: 200px; width: 200px;">
                                           <img id="Hello" ng-src="img/no-photo-icon.png"  ng-model="brgyresident.imageuri"
                                           height="160" width="160">
                                    </div>
                                    <div class="control-group" ng-class="{error: brgyresident.prof_sitio.$invalid && !brgyresident.prof_sitio.$pristine}">
                                        <label class="control-label" for="sitio">Sitio</label>
                                        <div class="controls">
                                            <input id="sitio" name="sitio" ng-model="brgyresident.prof_sitio" type="text" class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.sitio.$invalid && !userForm.sitio.$pristine" class="help-block" style="color: red;"> * Must Enter sitio !</p>
                                    </div> <br />

                                    <div class="control-group" ng-class="{error: brgyresident.prof_sitio.$invalid && !brgyresident.prof_sitio.$pristine}">
                                        <label class="control-label" for="baranggay_bplace">Birth Place</label>
                                        <div class="controls">
                                            <textarea id="baranggay_bplace" name="baranggay_bplace" class="form-control" required="" ng-model="brgyresident.baranggay_bplace"></textarea>
                                        </div>
                                        <p ng-show="userForm.sitio.$invalid && !userForm.sitio.$pristine" class="help-block" style="color: red;"> * Must Enter sitio !</p>
                                    </div> <br />

                                    <div class="control-group" ng-class="{error: brgyresident.b_date.$invalid && !brgyresident.b_date.$pristine}">
                                        <label for="b_date">Birth Date</label>
                                        <div class="controls">
                                         <input type="text" class="form-control" datepicker-popup="MMMM-dd-yyyy" ng-model ="brgyresident.b_date" is-open = "brgyresident.b_date.open" ng-click = "brgyresident.b_date.open = true" min-date="minDate" max-date="'maxDate'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                        </div>

                                    </div><br />
                                    <p ng-if="get_age"> <span class="label label-success">Age: {{ get_age | number:0 }}</span> </p>
                                    <p ng-show="brgyresident.current_age" ng-hide="get_age"><span class="label label-success">Age: {{ brgyresident.current_age | number:0 }} </span></p>

                                </div>

                                <div class="col-lg-4">


                                <br>

                                    <div class="control-group">
                                        <label class="control-label" for="prof_status">Status</label>
                                        <div class="controls">
                                        <div class="row">
                                        <div class="col-md-6">
                                            <label class="radio inline" for="Single">
                                                <input type="radio" name="prof_status" ng-model="brgyresident.prof_status" id="Single" value="Single">
                                                Single
                                            </label>
                                            </div>
                                             <div class="col-md-6">
                                            <label class="radio inline" for="Married">
                                                <input type="radio" name="prof_status" ng-model="brgyresident.prof_status" id="mMrriage" value="Married">
                                                Married
                                            </label>
                                            </div>
                                            </div>
                                            <div class="row">
                                        <div class="col-md-6">
                                            <label class="radio inline" for="Widow">
                                                <input type="radio" name="prof_status" ng-model="brgyresident.prof_status" id="Widow" value="Widow">
                                                Widow
                                            </label>
                                            </div>
                                            <div class="col-md-6">
                                            <label class="radio inline" for="Divorce">
                                                <input type="radio" name="prof_status" ng-model="brgyresident.prof_status" id="Divorce" value="Divorce">
                                                Divorce
                                            </label>
                                        </div>
                                    </div>
                                    </div>
                                    </div><br />

                                    <div ng-show="brgyresident.prof_status === 'Married' || brgyresident.prof_status === 'Widow'" class="control-group">
                                            <label for="resident_married_to">Name of Spouse</label>
                                 <ui-select ng-model="brgyresident.spouse" theme="bootstrap" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                                    <ui-select-match placeholder="Firstname Middlename Lastname">{{$select.selected.fullname}}</ui-select-match>
                                    <ui-select-choices repeat="spouse.fullname +' '+  spouse.b_date as spouse in children_me | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                                      <div ng-bind-html="spouse.fullname | highlight: $select.search"></div>
                                      <small>
                                        B-Date: <span ng-bind-html="''+spouse.b_date | highlight: $select.search | date"></span>
                                      </small>
                                    </ui-select-choices>
                                  </ui-select>

                                    </div>

                                    <div ng-show="brgyresident.prof_status === 'Divorce'" class="control-group">
                                            <label for="resident_divorce">Name of X-spouse or Husband</label>
                                    <ui-select ng-model="brgyresident.x_spouse" theme="bootstrap" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                                    <ui-select-match placeholder="Firstname Middlename Lastname">{{$select.selected.fullname}} {{$select.selected.b_date}}</ui-select-match>
                                    <ui-select-choices repeat="x_spouse.fullname +' '+  x_spouse.b_date as x_spouse in children_me | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                                      <div ng-bind-html="x_spouse.fullname | highlight: $select.search"></div>
                                      <small>
                                        B-Date: <span ng-bind-html="''+x_spouse.b_date | highlight: $select.search"></span>
                                      </small>
                                    </ui-select-choices>
                                  </ui-select>
                                    </div>

                                </div>

                                <div class="col-lg-4">
                                    <div ng-show="brgyresident.prof_status === 'Married' || brgyresident.prof_status === 'Divorce'">
                                    <label>List of children</label><br>
                                      <ui-select multiple ng-model="brgyresident.childrens" theme="bootstrap" ng-disabled="disabled" sortable="true" close-on-select="false" style="width: 250px;">
                                        <ui-select-match placeholder="Firstname middlename lastname">{{$item.fullname}}</ui-select-match>
                                        <ui-select-choices repeat="childrens.fullname +' '+ childrens.b_date as childrens in children_me | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                                          <div ng-bind-html="childrens.fullname | highlight: $select.search"></div>
                                          <small>
                                            Birthday: <span ng-bind-html="''+childrens.b_date | highlight: $select.search | date"></span>
                                          </small>
                                        </ui-select-choices>
                                      </ui-select>
                                    </div>
                                 </div>
                            </div>
                        </tab>



                        <tab heading="Health"><br /><br />
                            <div class="row">
                                <div class="form-inline pull-left well">
                                  <label for="search">BLOOD TYPE:</label><br>
                                 <!--  <input type="text" class="form-control" ng-model="brgyresident.blood_type"> -->
                                   <ui-select ng-model="brgyresident.blood_type" theme="select2" ng-disabled="disabled" style="width: 150px;" title="Choose a blood type">
                                    <ui-select-match placeholder="Select or search a blood type in the list...">{{$select.selected.blood_type}}</ui-select-match>
                                    <ui-select-choices repeat="btype in bloodtype | filter: $select.search">
                                      <span ng-bind-html="btype.blood_type | highlight: $select.search"></span>
                                    </ui-select-choices>
                                  </ui-select>
                                </div>
                            </div>
                            <label class="control-label" for="health"><b>A. HEALTH PROTECTION</b></label><br />

                            <label class="control-label" for="health">Immunization: </label>
                                <div class="well">
                                    <label ng-repeat="immunization in immunizations">
                                          <!-- <input type="checkbox" checklist-model="brgyresident.immunizations" checklist-value="immunization"> {{immunization}}&nbsp;&nbsp;&nbsp; -->
                                         <input type="radio"  ng-model="brgyresident.immunizations"  value="{{immunization}}"> {{immunization}} &nbsp;&nbsp;&nbsp;
                                    </label>
                                    <p>{{immunization}}</p>
                                </div> <br />
                            <label class="control-label" for="tnc">Nutrition Information and Education: </label>
                                <div class="well">
                                    <label ng-repeat="nutrition in nutritions">
                                   <!--        <input type="checkbox" checklist-model="brgyresident.nutritions" checklist-value="nutrition"> {{nutrition}}&nbsp;&nbsp;&nbsp; -->
                                          <input type="radio"  ng-model="brgyresident.nutritions"  value="{{nutrition}}"> {{nutrition}} &nbsp;&nbsp;&nbsp;
                                    </label>
                                </div> <br />
                            <label class="control-label" for="health"><b>B. HEALTH SERVICE AVAILED, rank by frequency of visits</b></label>
                                <div class="well">
                                    <label ng-repeat="health in healths">
                                          <!-- <input type="checkbox" checklist-model="brgyresident.healths" checklist-value="health"> {{health}}&nbsp;&nbsp;&nbsp; -->
                                          <input type="radio"  ng-model="brgyresident.healths"  value="{{health}}"> {{health}} &nbsp;&nbsp;&nbsp;
                                    </label>

                                </div> <br />

                            <label class="control-label" for="health">Others, specify :</label>
                                <div class="well">
                                    <label ng-repeat="other in others">
                                          <!-- <input type="checkbox" checklist-model="brgyresident.others" checklist-value="other"> {{other}}&nbsp;&nbsp;&nbsp; -->
                                           <input type="radio"  ng-model="brgyresident.others"  value="{{other}}"> {{other}} &nbsp;&nbsp;&nbsp;
                                    </label>
                                </div>    <br />
                            <label class="control-label" for="health">Source of Portable Water : we need to know cause of some diseases</label>
                                <div class="well">
                                    <label ng-repeat="water in waters">
                                          <!-- <input type="checkbox" checklist-model="brgyresident.waters" checklist-value="water"> {{water}}&nbsp;&nbsp;&nbsp; -->
                                          <input type="radio"  ng-model="brgyresident.waters"  value="{{water}}"> {{water}} &nbsp;&nbsp;&nbsp;
                                    </label>
                                </div>
                        </tab>

                        <tab heading="Environmental"><br /><br />

                        <label class="control-label" for="environmental">If not MCWD, was the water supply tested ?</label> <br /><br />

                            <div class="control-group">
                                <div class="controls">
                                    <label class="radio inline" for="envi_answer">
                                        <input type="radio" name="envi_answer" ng-model="brgyresident.envi_answer" id="yes" value="yes" checked="checked">
                                        Yes
                                    </label>
                                    <label class="radio inline" for="envi_answer">
                                        <input type="radio" name="envi_answer" ng-model="brgyresident.envi_answer" id="no" value="no">
                                        No
                                    </label>
                                </div>
                            </div><br />

                            <label class="control-label" for="environmental">Is there a continuous supply portable water ?</label>

                            <div class="well">
                                <label ng-repeat="supply in supplies">
                                      <!-- <input type="checkbox" checklist-model="brgyresident.supplies" checklist-value="supply"> {{supply}}&nbsp;&nbsp;&nbsp; -->
                                        <input type="radio"  ng-model="brgyresident.supplies"  value="{{supply}}"> {{supply}} &nbsp;&nbsp;&nbsp;
                                </label>
                            </div>

                            <label class="control-label" for="environmental">Types of toilet facilities used</label>

                            <div class="well">
                                <label ng-repeat="facility in facilities">
                                      <!-- <input type="checkbox" checklist-model="brgyresident.facilities" checklist-value="facility"> {{facility}}&nbsp;&nbsp;&nbsp; -->
                                <input type="radio"  ng-model="brgyresident.facilities"  value="{{facility}}"> {{facility}} &nbsp;&nbsp;&nbsp;
                                </label>
                            </div>

                            <label class="control-label" for="environmental">Others :</label>

                            <div class="well">
                                <label ng-repeat="otherone in otherones">
                                      <!-- <input type="checkbox" checklist-model="brgyresident.otherones" checklist-value="otherone"> {{otherone}}&nbsp;&nbsp;&nbsp; -->
                                <input type="radio"  ng-model="brgyresident.otherones"  value="{{otherone}}"> {{otherone}} &nbsp;&nbsp;&nbsp;
                                </label>
                            </div>
                        </tab>

                        <tab heading="Culture"> <br /><br />
                            <div class="row">

                                <div class="col-lg-5">
                                    <label class="control-label" for="languagesfamily">Language Spoken by the family:</label>
                                    <div class="well">
                                        <label ng-repeat="language in languages">
                                              <input type="checkbox" checklist-model="brgyresident.languages" checklist-value="language"> {{language}}&nbsp;&nbsp;&nbsp;

                                        </label>
                                    </div>
                                </div>

                                <div class="col-lg-5">
                                    <label class="control-label" for="languagedialect">Dialect Spoken/s:</label>
                                    <div class="well">
                                        <label ng-repeat="dialect in languagesdialect">
                                              <input type="checkbox" checklist-model="brgyresident.dialects" checklist-value="dialect"> {{dialect.name}}&nbsp;&nbsp;&nbsp;
                                        </label>
                                    </div>
                                </div>

                            </div>

                        </tab>

                            <tab heading="Political"> <br /><br />

                               <label class="control-label" for="environmental">Do you know your Barangay Officials.</label>

                                    <div class="controls">
                                        <label class="radio inline" for="pol_brgyofficials">
                                            <input type="radio" name="pol_brgyofficials" ng-model="brgyresident.pol_brgyofficials" id="yes" value="yes" checked="checked"> Yes
                                        </label> &nbsp;&nbsp;
                                        <label class="radio inline" for="pol_brgyofficials">
                                            <input type="radio" name="pol_brgyofficials" ng-model="brgyresident.pol_brgyofficials" id="no" value="no"> No
                                        </label>
                                    </div> <br />

                                <label class="control-label" for="environmental">Are you aware of the existing activities which the Barangay.</label>
                                    <div class="control-group">
                                        <label class="radio inline" for="pol_actbrgy">
                                                <input type="radio" name="pol_actbrgy" ng-model="brgyresident.pol_actbrgy" id="yes" value="yes" checked="checked"> Yes
                                        </label> &nbsp;&nbsp;
                                        <label class="radio inline" for="pol_actbrgy">
                                            <input type="radio" name="pol_actbrgy" ng-model="brgyresident.pol_actbrgy" id="no" value="no"> No
                                        </label>
                                    </div> <br />
                                <label class="control-label" for="environmental">If asked to assist/help, are you willing to give your time.</label>
                                    <div class="control-group">
                                        <label class="radio inline" for="pol_assisthelp">
                                                <input type="radio" name="pol_assisthelp" ng-model="brgyresident.pol_assisthelp" id="yes" value="yes" checked="checked"> Yes
                                        </label>&nbsp;&nbsp;
                                        <label class="radio inline" for="pol_assisthelp">
                                            <input type="radio" name="pol_assisthelp" ng-model="brgyresident.pol_assisthelp" id="no" value="no"> No
                                        </label>
                                    </div> <br />

                                <label class="control-label" for="environmental">If yes, in what particular area ?</label>

                                    <div class="control-group">
                                        <label class="radio inline" for="churchreligious">
                                                <input type="radio" name="area" ng-model="brgyresident.area" id="churchreligious" value="churchreligious" checked="checked"> Church/Religious
                                        </label> &nbsp; &nbsp;
                                        <label class="radio inline" for="schools">
                                            <input type="radio" name="area" ng-model="brgyresident.area" id="schools" value="schools"> Schools
                                        </label> &nbsp; &nbsp;
                                        <label class="radio inline" for="pando">
                                                <input type="radio" name="area" ng-model="brgyresident.area" id="pando" value="pando" checked="checked"> Peace and Order
                                        </label> &nbsp; &nbsp;
                                        <label class="radio inline" for="skills">
                                            <input type="radio" name="area" ng-model="brgyresident.area" id="skills" value="skills"> Skills
                                        </label><br /><br />

                                        <div class="controls">
                                        <label class="checkbox inline" for="pol_others">
                                            <input name="pol_others" class="form-control" id="pol_others" type="checkbox" ng-model="brgyresident.pol_others" required />Others
                                        </label>
                                    </div>
                                    </div> &nbsp; &nbsp;

                            </tab>


                            <tab heading="Photo"><br /><br />
                                <div class="row">
                                    <center>
                                        <div class="wrap">
                                            <form>
                                                <label for="first">Webcam</label>
                                                <input id="first" type="radio" name="content" ng-model="brgyresident.content" value="first">
                                               &nbsp; &nbsp; &nbsp; &nbsp;
                                                <label for="other">Upload Picture</label>
                                                <input id="other" type="radio" name="content" ng-model="brgyresident.content" value="other">
                                            </form>
                                        </div>
                                    </center>
                                </div>
                                <br>
                                <hr />

                                <div class="row" ng-show="brgyresident.content== 'first'">
                                    <div class="col-lg-4">
                                        <div class="well pull-left" style="height: 240px; width: 240px;">
                                            <div id="actual_image"></div><br>
                                            <center>
                                                <span ng-if="!brgyresident.imageuri " class="btn btn-success fileinput-button">
                                                                <i class="glyphicon glyphicon-camera"></i>
                                                                <span>Click to Capture</span>
                                                                 <input type="submit" ng-click="take_snapshot()">
                                                </span>
                                                <span ng-show="brgyresident.imageuri" class="btn btn-success fileinput-button">
                                                                <i class="glyphicon glyphicon-camera"></i>
                                                                <span>Change Avatar</span>
                                                                <input type="submit" ng-click="take_snapshot()">
                                                </span>
                                            </center>
                                        </div>
                                    </div>

                                    <div class="col-lg-4"></div>

                                    <div class="col-lg-4">

                                        <div ng-hide="brgyresident._id" id="capture_image" class="well pull-right"  style="height: 230px; width: 240px; color: green;">
                                               Your captured image will appear here...
                                        </div>
                                        <div class="well pull-right" ng-hide="!brgyresident._id" style="height: 240px; width: 240px;">
                                               <img id="Hello" src="{{brgyresident.imageuri}}" ng-model="brgyresident.imageuri">
                                        </div>

                                    </div>

                                </div>

                                     <!-- Configure a few settings and attach camera -->
                                        <script language="JavaScript">
                                            Webcam.set({
                                                width: 200,
                                                height: 160,
                                                image_format: 'jpeg',
                                                jpeg_quality: 72
                                            });
                                            Webcam.attach( '#actual_image' );
                                        </script>

                                        <!-- A button for taking snaps -->

                                    <div class="row" ng-show="brgyresident.content == 'other'">

                                        <div class="col-md-6">

                                                       <image-crop
                                                         data-width="200"
                                                         data-height="200"
                                                         data-shape="square"
                                                         data-step="imageCropStep"
                                                         data-result="brgyresident.imageuri"
                                                         ng-show="showImageCropper = true"
                                                       ></image-crop>
                                                        <p ng-show="brgyresident.imageuri">Wanna start over? &rarr; <a href="" ng-click="brgyresident.imageuri = null;imageCropStep=1" class="btn btn-info">Reset</a></p>
                                        </div>
                                        <div class="col-md-6">
                                            <center>
                                                <div ng-show="brgyresident.imageuri">
                                                     <img ng-src="{{ brgyresident.imageuri }}" alt="The Cropped Image">
                                                     <p style="color: green;">Actual Profile Picture</p>
                                                     <input type="hidden" class="form-control" ng-model="brgyresident.imageuri" value="brgyresident.imageuri" />
                                                </div>
                                           </center>
                                        </div>
                                   </div><br /><br />
                            </tab>
                            <tab heading="Demographic">
                                    <div class="table-responsive">
                                      <table class="table">
                                        <tr>
                                            <th>Name</th>
                                            <th>Relationship</th>
                                            <th>Address</th>
                                            <th><button class="btn btn-success btn-sm " ng-click="addNewChoice()"> Add Fields </button></th>
                                        </tr>
                                        <tr data-ng-repeat="demography in brgyresident.demography">
                                            <td>
                                            <ui-select ng-model="demography.demographic_name" theme="bootstrap" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                                                <ui-select-match placeholder="Firstname Middlename Lastname">{{$select.selected.fullname}}</ui-select-match>
                                                <ui-select-choices repeat="demographic_name.fullname +' '+  demographic_name.b_date as demographic_name in children_me | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                                                  <div ng-bind-html="demographic_name.fullname | highlight: $select.search"></div>
                                                  <small>
                                                    B-Date: <span ng-bind-html="''+demographic_name.b_date | highlight: $select.search | date"></span>
                                                  </small>
                                                </ui-select-choices>
                                              </ui-select>
                                            <!-- <input type="text" class="form-control" ng-model="demography.demographic_name" /> -->
                                            </td>
                                            <td>
                                             <input type="text" class="form-control" ng-model="demography.demographic_relationship" />
                                            </td>
                                            <td>
                                             <input type="text" class="form-control" ng-model="demography.demographic_address" />
                                            </td>
                                            <td>
                                                <button class="btn btn-danger btn-sm " ng-click="removeChoice(demography)">Remove</button>
                                            </td>
                                        </tr>
                                      </table>
                                    </div>
                            </tab>
                </tabset>

                        <div class="control-group">

  <div class="container">
<a data-html="true" title="<b>Terms &amp; Conditions</b> <br><br> Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern [business name]'s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website." rel='tooltip' data-toggle="tooltip" data-placement="right">Terms &amp; Conditions</a>

<script language="javascript" src="script/app.js">

</script><br>
                            <label class="checkbox inline" for="tnc">
                                <input name="tnc" class="form-control" id="tnc" type="checkbox" ng-model="brgyresident.tnc" required />Accept
                            </label>
                            <br />
                            <div ng-show="error" class="alert alert-danger col-md-6">{{error}}</div>

                        </div>
                        <br />


         </div>
    </div>
        <div class="panel-footer">

                    <a class="btn btn-warning" ng-click="cancel()"> <span class="glyphicon glyphicon-arrow-left"></span> Cancel</a>
                    <button ng-show="!brgyresident._id" ng-click="saveresident()"
                            ng-disabled="!brgyresident.tnc || myForm.$invalid"
                            class="btn btn-success"> Save <span class="glyphicon glyphicon-floppy-save"></span> </button>
                    <button ng-click="updateresident(brgyresident._id)"
                            ng-show="brgyresident._id"
                            class="btn btn-success"> Update <span class="glyphicon glyphicon-floppy-save"></span>
                            </button>
                    <button ng-click="destroy(brgyresident._id)"
                            ng-show="brgyresident._id" class="btn btn-danger"> Delete <span class="glyphicon glyphicon-trash"></span> </button>
        </div>
</div>
</form>

<script language="javascript">
$(document).ready(function(){
    $("[rel='tooltip']").tooltip();

    })
</script>
