<div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right">
                 <a href="" ng-click="ok()"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            <div class="col-lg-1" id="imageuri" ng-show="clearance.resident.imageuri">
            <img id="image" src="{{clearance.resident.imageuri}}" height="50" width="50">
            </div>
             <div class="col-lg-1" ng-show="!clearance.resident.imageuri">
            <img ng-src="img/no-photo-icon.png" height="50" width="50">
            </div>
            <h2>
                 {{clearance.resident.prof_firstname}} {{clearance.resident.prof_middle_name}} {{clearance.resident.prof_lastname}}  Baranggay Clearance Information
            </h2>      
        </div>
        <style type="text/css">
        .heading{
            font-weight: 30%;
            font-size: 20;
            text-align: center;

        }

        </style>
        <div class="panel-body">
                <div class="row" id="render_me">
                      <p class="heading">Republic of the Philippines</p>
                </div>
        </div>

        <div class="panel-footer">
            <a href="" ng-click="ok()" class="btn btn-warning">Cancel</a>
            <a  id="renderpdf" class="btn btn-info download-pdf pull-right" ng-click="download_pdf()">Download PDF</a>     
        </div>
    </div>

