<br>
<br>

<div class="row">
            <div class="col-md-6">
                <center>

                      <br>
                      <br>
                       <a href="/judicial">
                            <img ng-src="img/j.png" style="hieght: 25%; width: 25%">

                      <br>
                      <h5>JUDICIAL</h5>
                      </a>
                </center>
            </div>
            <div class="col-md-6">
                <center>

                      <br>
                      <br>
                    <a href="/resident">
                    <img ng-src="img/f.png" style="hieght: 25%; width: 25%">
                    <br>
                      <h5>RESIDENT</h5>
                    </a>
                </center>
            </div>
    </div>
    <div class="row">
            <div class="col-md-6" ng-if="UserAcount.access === 'administrator'">
                <center>

                      <br>
                      <br>
                       <a href="/region">
                            <img ng-src="img/region.png" style="hieght: 25%; width: 25%">

                      <br>
                       <h5>REGIONS</h5>
                      </a>
                </center>
            </div>
            <div class="col-md-6" ng-hide="UserAcount.accesscontrol === 'barangayaccesscontrol' || UserAcount.accesscontrol === 'Viewer' || UserAcount.accesscontrol === 'officialaccesscontrol'">
                <center>

                      <br>
                      <br>
                    <a href="/user">
                    <img ng-src="img/sign_up.png" style="hieght: 25%; width: 25%">
                    <br>
                    <h5>ACCOUNT</h5>
                    </a>
                </center>
            </div>
  </div>
