<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                <i class="fa fa-tasks fa-2x"></i>
            </div>
<div ng-show="successpost" class="alert alert-danger col-md-6">{{successpost}}</div>
                <div class="pull-right">
                     <a href="" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
        </div>
    </div>
    <div class="panel-body">
    <div class="panel panel-default">
    <div class="panel-heading">
    <h3>Officials List</h3>
    <button class="btn btn-success btn-sm" ng-click="addnew('lg')"> <span class="glyphicon glyphicon-plus-sign" ></span> add New officials</button>
    </div>
    <div class="panel-body">
      <div class="text-center">
          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
      </div>
        <div dir-paginate="officials in getofficials | filter:q | itemsPerPage: getofficialsSize" current-page="currentgetofficials">
                <div class="panel panel-default">
                    <div class="panel-heading">
                            <div class="pull-right">
                                <button class="btn btn-success btn-sm" ng-click="editOfficials('lg', officials._id)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                                <!-- <button ng-show="officials._id" class="btn btn-danger btn-sm" ng-click="deleteofficials(officials._id)"> <span class="glyphicon glyphicon-trash"></span> </button> -->

                            </div>

                <h4> Year Elected: {{officials.yearElected}}</h4>
                    </div>
                    <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                        <div class="col-xs-3 pull-right">
                                            <div class="huge">{{officials.captainvote}}</div>
                                        <div>Votes</div><br>
                                        </div>
                                <div> Captain: </div><br>
                                <div>{{officials.captainofficer}}</div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                      <div class="panel panel-default">
                                <div class="panel-heading">
                                        <div class="col-xs-3 pull-right">
                                            <div class="huge">{{officials.votesec}}</div>
                                        <div>Votes</div>
                                        </div>
                                <div> Secretary: </div><br>
                                <div>{{officials.secretary}}</div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                        <div class="col-xs-3 pull-right">
                                            <div class="huge">{{officials.skofficervote}}</div>
                                        <div>Votes</div>
                                        </div>
                                <div>Sk Chairman: </div><br>
                                <div>{{officials.skofficer}}</div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                      <div class="panel panel-default">
                                <div class="panel-heading">
                                        <div class="col-xs-3 pull-right">
                                            <div class="huge">{{officials.votettr}}</div>
                                        <div>Votes</div><br>
                                        </div>
                                        <div>Treasurer</div><br>
                                        <div>{{officials.treasurer}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="panel panel-default">
                                <div class="panel-heading">
                                <div> Councilors: </div>
                                </div>
                                <div class="panel-body">
                                    <div class="list-group" ng-repeat="councilors in officials.kagawad">
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-user fa-fw">
                                            </i>
                                            {{councilors}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
        </div>
    </div>
    <div class="panel-footer">
              <div class="text-center">
              <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
              </div>
    </div>
</div>

        </div>

    </div>
    <a href="#">
        <div class="panel-footer">

        </div>
    </a>
</div>