<form name="userForm" class="form-inline">
   <div class="panel panel-default">
        <div class="panel-heading">
             <div class="pull-right">
                     <a href="" ng-click="ok()"><span class="glyphicon glyphicon-remove"></span></a>
              </div>
            <h2> Baranggay Form </h2>
              <div ng-show="error" class="alert alert-danger col-md-6">{{error}}</div>
        </div>
        <div class="panel-body">
              <div class="well">
                  <div class="row">
                      <div class="col-lg-4">
                          <div class="form-group" ng-class="{error: brgy.barangay_name.$invalid && !brgy.barangay_name.$pristine}">
                              <div class="col-xs-7">
                                  <label for="barangay_name">Name Of Barangay</label>
                                      <input id="barangay_name" class="form-control" name="barangay_name" ng-model="brgy.barangay_name" type="text" required="" />
                              </div>
                          </div><br /><br />
                     </div>
                      
         <div class="container">
<a data-html="true" title="<b>Terms &amp; Conditions</b> <br><br> Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern [business name]'s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website." rel='tooltip' data-toggle="tooltip" data-placement="left">Terms &amp; Conditions</a>

<script language="javascript" src="script/app.js">
 
</script>
<br>
                          <label class="checkbox inline" for="tnc">
                              <input name="tnc" class="form-control" id="tnc" type="checkbox" ng-model="brgy.tnc" required />Accept
                          </label>
                      </div>
                </div>
            </div>

       </div>      
       <div class="panel-footer">
                   <a href="" ng-click="ok()" class="btn btn-warning"> Cancel </a>
                        <button ng-if="!brgy._id" ng-click="savebrgy()" ng-disabled="!brgy.tnc || myForm.$invalid"
                                class="btn btn-primary"> Save </button>
                        <button ng-if="brgy._id" ng-click="updatebrgy(brgy._id)" ng-disabled="!brgy.tnc || myForm.$invalid"
                                class="btn btn-primary"> Update </button>
                    <!--     <button ng-click="destroy()"
                                ng-show="brgy._id" class="btn btn-danger">Delete</button> -->
        </div> 
  </div>  
</form>    